<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>
                match schedule
            </td>

        </tr>
        {% if all_match %}
        {% for am in all_match %}
        <tr>
            <td>{{am.match}} </td>
            <td>{{am.team1}} vs {{am.team2}}</td>
            <td> {{am.ground}} </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    
</body>
</html>